body {
    background-color: #000000;
}

.info-sign {
    text-align: center;
    margin: 200px;
    background-color: #F6CD04;
    color: #000000;
}

h1 {
    font-size: 60px;
}

i {
    font-size: 200px;
}